body {
    background-color: #000000;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F5F5F5;
}
header {
    text-align: center;
}
form { 
    text-align: center;
    padding: 20px;
}
input[type="text"], input[type="email"], input[type="number"], textarea {
    background-color: #F5F5F5;
    border: 2px solid #C99A3D;
    padding: 5px;
    border-radius: 5px;

}
input[type="radio"] {
    margin-left: 5px;
}

.donor-label {
    display: block;
}

.donor-field {
    margin: 15px auto;
    text-align: left;
    width: 200px;
}

h2 {
    margin-top: 25px;
    color: #E72A83
}

button {
    background-color: #C99A3D; 
    color: #000000; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    color: #E72A83;
}

button:active {
    transform: translateY(2px);
}

.amount-options {
    display: inline-block;
    padding: 8px 15px;
    border: 2px solid #C99A3D;
    cursor: pointer;
    }

input[name="donation-amount"][type="radio"] {
     display: none;  
    }

input[name="donation-amount"]:checked + .amount-options {
    background-color: #E72A83
}

.amount-options:hover {
    color: #C99A3D;
}

.custom-amount {
    margin-top: 30px;
}

#custom-amount {
    width: 150px;
    margin-left: 8px;
}

.hero {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 0;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
}

nav a:hover {
    color:#E72A83;
}

.hero-button {
    background-color:#C99A3D;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.hero-button:hover {
    color: #000000;
    background-color: #E72A83;
}

.mission, .impact, .about-us, .contact, .contact-information, .checkout {
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
}

h3 {
    color: #E72A83;
    margin-top: 30px;
}

.contact-information a {
    color:#C99A3D;
}

.contact-information a:hover {
    color:#E72A83;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.tag-line {
    font-style: italic;
    color:#C99A3D;
}

.footer-logos img {
    width: 80px;
    
}
.footer-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.summary-row {
    display: flex;
    justify-content: center;
}

.summary-row strong {
    margin-right: 10px;
    width: 180px;
}